option_settings:
  # Grant EC2 instances permission to pull from ECR
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: arn:aws:iam::640080112933:instance-profile/aws-elasticbeanstalk-ec2-role

files:
  "/etc/profile.d/ecr-docker-auth.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Authenticate Docker with ECR on instance startup
      export AWS_DEFAULT_REGION=us-east-1
      aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 640080112933.dkr.ecr.us-east-1.amazonaws.com

commands:
  01_ecr_login:
    command: |
      # Login to ECR so Docker can pull images
      aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 640080112933.dkr.ecr.us-east-1.amazonaws.com
    ignoreErrors: true

container_commands:
  00_ecr_login_before_compose:
    command: |
      # Ensure ECR authentication before docker-compose up
      aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 640080112933.dkr.ecr.us-east-1.amazonaws.com
    leader_only: false

